@{
  Layout = "_Layout";
}

<div class="center">

  @model PierreTreats.Models.Flavor

  <span class="header">Add a new flavor</span>
  <div class="contentbox">
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { @required="required" })

      <input type="submit" value="Add new flavor" class="btn btn-default">
    }

    <p>@Html.ActionLink("Return to All Flavors", "Index")</p>
  </div>
</div>