@using PierreTreats.Models
@{
  Layout = "_Layout";
}

<div class="center">

  @model PierreTreats.Models.Flavor

  <span class="header">Add a new flavor</span>
  <div class="contentbox">
    @using (Html.BeginForm())
    {
      <p>Flavor Name:
        @Html.TextBoxFor(model => model.Name, new { @required="required" })</p>

      <p>@Html.LabelFor(model => model.Rating)
      @Html.DropDownListFor(model => model.Rating,
        new SelectList(Enum.GetValues(typeof(FlavorRating))),
        "Select a Rating")</p>

      <input type="submit" value="Add new flavor" class="btn btn-success">
    }
  </div>
</div>

<div class="navbar">
  @Html.ActionLink("Back to all flavors", "Index")
</div>