@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Flavor;

<span class="header">Delete @Html.DisplayFor(model => model.Name)</span>

<hr>

<p>Are you sure? This action cannot be undone.</p>

@using (Html.BeginForm())
{
  <input type="submit" value="Yes" class="btn btn-danger">
}
<p>@Html.ActionLink("Don't delete, I changed my mind!", "Index")</p>