@{
  Layout = "_Layout";
}

<span class="header">Authentication with Identity</span>
<hr>
@if (User.Identity.IsAuthenticated)
{
  <p> Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-danger" value="log out">
  }
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
}