div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:rgb(255, 255, 255);
  background:rgb(255, 152, 212);
  padding:8px;
  background-image: url("../img/pierrelogo_footer.png");
  background-repeat: no-repeat;
  background-position: right;
}

body {
  background-image: url("../img/pierrelogo.png");
  background-repeat: no-repeat;
  background-color: lightpink;
}

a:link {
  color: blue;
}

a:hover {
  color: lightseagreen;
}

td{
  text-align: center;
}

.header {
  font-family: 'Rock Salt', cursive;
  font-size: 30px;
}

.glove {
  background-image: url("../img/glove.png");
  height: 40px;
}

.center {
  text-align: center;
}