div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:rgb(255, 255, 255);
  background:rgb(255, 152, 212);
  padding:8px;
  background-image: url("../img/pierrelogo_footer.png");
  background-repeat: no-repeat;
  background-position: right;
}

body {
  background-image: url("../img/pierrelogo.png");
  background-repeat: no-repeat;
  background-color: lightpink;
}

a:link {
  color: blue;
}

a:hover {
  color: lightseagreen;
}

td{
  text-align: center;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
}

.flavor {
  font-family: 'Rock Salt', cursive;
  font-size: 30px;
}

.star {
  background-image: url("../img/star.png");
  height: 40px;
}

.center {
  text-align: center;
}

.contentbox {
  background-color: white;
  border: 5px groove purple;
  border-radius: 30px;
  max-width: 50%;
  transform: translate(50%, 0px);
  padding: 15px;
}

.navbar {
  background-color: white;
  border: 5px groove purple;
  border-radius: 5px;
  padding: 15px;
  position:fixed;
  bottom:50px;
  left:50%;
  transform: translate(-50%, 0px);
  font-family: 'Rock Salt', cursive;
  font-size: 24px;
}

.padding {
  padding-left: 15px;
  padding-right: 15px;
}

.wide {
  width: 100%;
}