@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Treat;

<span class="header">Delete @Html.DisplayFor(model => model.Name)</span>

<hr>

<div class="contentbox center">
  <p>Are you sure? This action cannot be undone.</p>

  @using (Html.BeginForm())
  {
    <input type="submit" value="DELETE" class="btn btn-danger">
    <a href='@Url.Action("Index", "Treats")' class="btn btn-info">Back To Safety</a>
  }
</div>